.add-questions-and-forecasts-body {

}

#bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

#questions-form {
    grid-column: 1;
}

#question-table{
    min-height: 20vh;
}

#forecast-form {
    grid-column: 2;
}

#forecast-table{
    min-height: 20vh;
}

.add-header-div{
    display: flex;
    align-items: center;
}

.add-text-h4{
    font-weight: 550;
    margin: 10px 0 10px 0;
    padding-right: 140px;
}