.apuestas{
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.tablaPrimeFaces {
	width: 90%;
	align-content: center;
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-bottom: 10px;
}

.tablaPrimeFaces th.ui-state-default {
	background-color: #0073b1;
	color: white;
	font-weight: bold;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.accionesApuestas {
	text-align: center;
	justify-content: center;
}

.estiloBoton {
	background-color: #0073b1;
	color: white;
	font-weight: bold;
	padding: 8px;
	border: 1px #000;
	border-radius: 1px;
	min-width: 150px;
	min-height: 40px;
	margin: 10px;
}

.estiloBoton:hover {
	background-color: #024e78;
	transition: ease-in-out 0.3s;
	cursor: pointer;
}
