.aSaldoinput{
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: white;
    margin: 10px;
    min-height: 50px;
    max-width: 200px;
}

.aSbutton:hover{
    background-color: #024e78;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.aSbutton{
    background-color: #0073b1;
    color: white;
    font-weight: bold;
    padding: 8px;
    border: 1px transparent;
    border-radius: 5px;
    margin-left: 10px;
    max-height: 50px;
    min-height: 50px;
}
.grid{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    align-content: center;
}

.row{
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(47, 47, 47, 0);
    margin: 10px;
    width: fit-content;
    color: #000000;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.Salario{
    align-self: start;
    justify-self: start;
}

.accion{
    margin: 5px;
}

.aSaldoLabel{
    font-weight: bold;
    margin-right: 100px;
    font-size: 20px;
    color: #0073b1;
    width: 150px;
    min-width: 150px;
    min-height: 40px;
    max-width: 150px;
    max-height: 40px;
}
