.aSinput{
	margin-left: 10px;
	padding: 8px;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	margin-bottom: 10px;
}

.aSbutton:hover{
	background-color: #024e78;
	transition: ease-in-out 0.3s;
	cursor: pointer;
}

.componente{
	align-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	padding-left: 35%;
}
.componenteDatosPers{
	padding: 15px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	color: black;
	align-content: center;
	align-items: center;
	border: 3px solid transparent;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.4);
	width: fit-content;
}

.componenteDatosPers h2{
	color: #0a66c2;
}

.aSbutton{
	background-color: #0073b1;
	color: white;
	font-weight: bold;
	padding: 8px;
	border: 1px transparent;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 10px;
	width: 170px;
	max-width: 170px;
	min-width: 170px;
}
.grid{
	display: flex;
	flex-direction: column;
	width: 60%;
}

.row{
	font-family: Montserrat, Geneva, Tahoma, sans-serif;
	background: rgba(255, 255, 255, 0);
	margin: 12px;
	width: fit-content;
	min-width: 425px;
	max-width: 425px;
	border-radius: 5px;
	color: #111;
	padding: 5px;
	align-self: auto;
}

.row h4{
	align-self: flex-start;
}

.datosPersonales{
	border: 1px solid transparent;
	width: fit-content;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0);
	align-content: center;
	align-items: center;
}