body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

button{
    border: none;
    color: #f5f5f5;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}

button:hover{
    color: #000000;
}

.userInfo{
    display: flex;
    margin: 0px 0px 0px 0px;
    gap: 20px;
}

.nav{
    margin: 0px 0px 0px 0px;
    background: lightseagreen;
}

.botones {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}